{% extends "base.html" %}
{% block title %}
    <title>Title</title>
{% endblock %}
{% block content %}
    <div class="border border-5 border-info col-3 m-auto mt-5 p-3">
        <h3 class="text-center text-primary">Order Form</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Purchase" class="btn btn-primary col-5">
            <input type="reset" value="Clear Form" class="btn btn-secondary col-5 float-end">
        </form>
    </div>
{% endblock %}